
# JavaScript
alias jest="./node_modules/.bin/jest"

# Git
alias g="git"
alias gs="git status"
alias gp="git push"
alias gc="git checkout"0
alias gpo="git push origin"
alias gm="git merge"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gr="git rebase"

